body{
    font: 0.875rem "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    line-height: 1.8;
    margin: 0 auto;
    font-style: normal;
    letter-spacing: 0.08em;
}
*, *:before, *:after {
    box-sizing: border-box;
}
figure{
    margin: 0 !important;
}
a{
    text-decoration: none;
    cursor: pointer;
}
input{
    /* padding: .875rem !important; */
    outline: none;
    font-size: .875rem !important;
}
img{
    width: 30px;
    height: 30px;
}
.d-flex{
    display: flex;
}
.align-ct{
    align-items: center;
}
.body-page{
    max-width: 1260px;
    margin: auto;
    padding: .5rem;
}
:root {
    --color-text-primary: rgb(36 41 46);
    --color-text-link: rgb(3 102 214);
    --color-header-bg: rgb(36 41 46);
    --color-text-link: rgb(3 102 214);
    --color-btn-primary-bg: rgb(46 164 79);
    --body-bg: #FFFFFF;
    background-color: var(--body-bg);
    color: var(--color-text-primary);
}