body{
    font: 16px "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    line-height: 1.8;
    margin: 0;
    font-style: normal;
    letter-spacing: 0.08em;
}
*, *:before, *:after {
    box-sizing: border-box;
}
figure{
    margin: 0 !important;
}
a{
    color: #007dcc;
    text-decoration: none;
}
input{
    outline: none;
}
img{
    width: 30px;
    height: 30px;
}
.d-flex{
    display: flex;
}
.align-ct{
    align-items: center;
}
:root {
    --text-color: rgba(0,0,0,.87);
    --body-bg: #FFFFFF;
    background-color: var(--body-bg);
    color: var(--text-color);
}