.login {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(5, 62, 209, 0.19);
    border-radius: 10px;
    padding: 3rem 2rem;
    margin-bottom: 1.5rem;
    transform: translate(-50%, -50%);
    min-width: 400px;
}
.login-head{
    text-align: center;
}
.u-input{
    display: block;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #888;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
    margin-bottom: 1.5rem;
    font-size: 16px;
}
.u-input:focus, .sign-btn-in:focus{
    border: 2px solid #0A45C2;
}
.sign-btn-in{
    background: #0A45C2;
    border-radius: 4px;
    font-family: Poppins;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 1rem;
    width: 100%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}