header{
    color: #000;
    background-color: #fff;
    padding: 0 1rem;
    width: 100%;
}
.header-icon{
    width: 4rem;
    height: 4rem;
}
.h-other{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.h-other h3, .h-other h4 {
    margin: 0;
    color: red;
}
@media only screen and (max-width: 720px) {
    body, .datatable, .user-input{
        font-size: .725rem !important;
    }
}